//
// Color Variables
// Default USWDS colors are prefixed with `$color-`
// Custom colors are prefixed with `$c-` for short.
//

$c-black: #000; // rgb(0, 0, 0)
$c-white: #fff; // rgb(255, 255, 255)
$c-blue-darkest: #1f5593; // rgb(31, 85, 147)
$c-blue-black: #142e4f;
$c-blue-lt: #f0fdff;
$c-offwhite: #fbfafa;
$c-gray-md: #cacbc6;
$c-gray-lt: #ebebeb;

$home-resources-blue: #d6f2fb;

// Commonly used - social media colors
$social-colors: (
  twitter: #4099ff,
  linkedin: #0077b5,
  facebook: #3b5998,
  googleplus: #c63d2d,
  pinterest: #cb2027,
  youtube: #cd201f,
  instagram: #fb3958
);

$font-family-icons: 'wioa-icons';
$font-size-base: 17; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// For BP calculation only. Otherwise use REM.
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Breakpoints
// Used in bp mixin in _mixins.scss
$breakpoints: (
  sm: em(481),
  md: em(600),
  md-lg: em(850),
  md-xl: em(951),
  lg: em(1201)
);

// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  overlay: 900
);

// Overriding USWDS Variables
$asset-path: '../';
$image-path: '#{$asset-path}images';
$font-path: '#{$asset-path}fonts/uswds';

$site-max-width: 1024px;
$site-margins: 2rem;

$text-max-width: 75ch; // 66 characters per line

$color-focus: #aeb0b5;

//
// Easing
//

// easeOutBack
$ease-primary: 0.26s cubic-bezier(0.175, 0.885, 0.32, 1.275);
