<div class="download-plan-form {{ orientation }}">
    <select name="states">{{ state_options|raw }}</select>
    <select name="years" disabled="disabled">{{ years_options|raw }}</select>
    <button name="download" disabled="disabled">Download Plan</button>
</div>
