//
// Select2 Overrides
// Seen on: State dropdowns
.select2-container--default .select2-selection--single {
  @extend %uswds-input-styles;
  @extend %uswds-select-styles;
  max-width: 100%;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: inherit;
  line-height: inherit;
}

.select2-container--open .select2-dropdown--below {
  transform: translateY(-4px);
}

.select2-container--open .select2-dropdown--above {
  transform: translateY(4px);
}

.select2-container--default .select2-results__option[data-selected='true'] {
  background-color: transparent;
  color: $color-gray-medium;
}

.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $color-primary;
  color: $c-white;
}
