@font-face {
  font-family: 'wioa-icons';
  src: url('../fonts/wioa-icons/wioa-icons.eot');
  src: url('../fonts/wioa-icons/wioa-icons.eot?#iefix') format('eot'),
  url('../fonts/wioa-icons/wioa-icons.woff2') format('woff2'),
  url('../fonts/wioa-icons/wioa-icons.woff') format('woff'),
  url('../fonts/wioa-icons/wioa-icons.ttf') format('truetype'),
  url('../fonts/wioa-icons/wioa-icons.svg#wioa-icons') format('svg');
}


  $i-icon-alert-triangle: "\E001";

  $i-icon-alert: "\E002";

  $i-icon-check: "\E003";

  $i-icon-chevron-down: "\E004";

  $i-icon-chevron-right: "\E005";

  $i-icon-close: "\E006";

  $i-icon-external-link: "\E007";

  $i-icon-info: "\E008";

  $i-icon-minus: "\E009";

  $i-icon-plus: "\E00A";

  $i-icon-search: "\E00B";
